#contenedor-tablero, #HistorialViewForm {
   display: none;
}
:-moz-full-screen #contenedor-tablero{
	display: block;
}
:-webkit-full-screen #contenedor-tablero{
	display: block;
}
:-ms-fullscreen #contenedor-tablero{
	display: block;
}
:full-screen #contenedor-tablero{
	display: block;
}
:fullscreen #contenedor-tablero{
	display: block;
}

/* /////////////////// */
:-moz-full-screen #header, :-moz-full-screen #footer, :-moz-full-screen #btn-iniciar-historial{
   visibility: hidden;
   display: none;
}

:-webkit-full-screen #header, :-webkit-full-screen #footer,:-webkit-full-screen #btn-iniciar-historial{
   display: none;
}

:-ms-fullscreen #header, :-ms-fullscreen #footer,:-ms-fullscreen #btn-iniciar-historial{
   display: none;
}

:full-screen #header,:full-screen #footer,:full-screen #btn-iniciar-historial{
   display: none;
}

:fullscreen #header, :fullscreen #footer,:fullscreen #btn-iniciar-historial{
   display: none;
}

#tablero h1 {
		font-size: 30px;
}

#pregunta-respuestas {
	padding-left: 40px;
	list-style: upper-alpha;
	background: #1A1A1A;
	border-radius:5px;
}

#pregunta-respuestas li {
		font-size: 20px;
		background: #FF3A00;
		color: #FFF;
		text-shadow: none;
		padding: 5px;
		margin: 2px 0;
		border-radius:5px;
		 -moz-border-radius:5px;
		 -webkit-border-radius:5px;
}

#pregunta-respuestas li#item-1{
	background: #8F002E;
}
#pregunta-respuestas li#item-2{
	background: #187200;
}
#pregunta-respuestas li#item-3{
	background: #001F72;
}

ol#pregunta-respuestas li:hover {
	background: #000 !important;
	cursor: pointer;
  cursor: hand;
}
#pregunta-respuestas li#item-1.activo,
#pregunta-respuestas li#item-2.activo,
#pregunta-respuestas li#item-3.activo,
ol#pregunta-respuestas li.activo {
	background: #4D4D4D;
	color: #BFBFBF;
}
